@{
    Layout = null;
    var gunel = @TempData["FullName"];
    
}

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from codervent.com/dashtreme/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 28 Aug 2019 05:05:29 GMT -->
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>KingsWorld</title>
    <!--favicon-->
    <link rel="icon" href="~/Webx/assets/images/favicon.ico" type="image/x-icon">
    <!-- Vector CSS -->
    <link href="~/Webx/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
    <!-- simplebar CSS-->
    <link href="~/Webx/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <!-- Bootstrap core CSS-->
    <link href="~/Webx/assets/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Webx/assets/plugins/bootstrap-datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link href="~/Webx/assets/plugins/bootstrap-datatable/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <!-- animate CSS-->
    <link href="~/Webx/assets/css/animate.css" rel="stylesheet" type="text/css" />
    <!-- Icons CSS-->
    <link href="~/Webx/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <!-- Sidebar CSS-->
    <link href="~/Webx/assets/css/sidebar-menu.css" rel="stylesheet" />
    <!-- Custom Style-->
    <link href="~/Webx/assets/css/app-style.css" rel="stylesheet" />


    <!-- animate CSS-->


</head>

<body class="bg-theme bg-theme1">


    <!-- start loader -->
    <div id="pageloader-overlay" class="visible incoming"><div class="loader-wrapper-outer"><div class="loader-wrapper-inner"><div class="loader"></div></div></div></div>
    <!-- end loader -->
    <!-- Start wrapper-->
    <div id="wrapper">

        <!--Start sidebar-wrapper-->
        <div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
            <div class="brand-logo">
                <a href="/User/Index">
                    <img src="~/Webx/assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
                    <h5 class="logo-text">Admin Panel</h5>
                </a>
            </div>
            <div class="user-details">
                <div class="media align-items-center user-pointer collapsed" data-toggle="collapse" data-target="#user-dropdown">
                    <div class="avatar"><img class="mr-3 side-user-img" src="~/Webx/assets/images/avatars/avatar-13.png" alt="user avatar"></div>
                    <div class="media-body">
                        <h6 class="side-user-name">@TempData["FullName"]</h6>
                    </div>
                </div>
                <div id="user-dropdown" class="collapse">
                    <ul class="user-setting-menu">
                        <li><a href="/User/FindUser/@HttpContext.Current.User.Identity.Name"><i class="icon-user"></i>Hesabim</a></li>>
                        <li><a href="/Login/LogOut"><i class="icon-power"></i>Çıxış</a></li>
                    </ul>
                </div>
            </div>
            <ul class="sidebar-menu do-nicescrol">
                <li class="sidebar-header">KidsWorld </li>
                <li>
                    <a href="javaScript:void();" class="waves-effect">
                        <i class="zmdi zmdi-view-dashboard"></i> <span>Bölmələr</span><i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="sidebar-submenu">
                        <li><a href="/User/Index"><i class="zmdi zmdi-long-arrow-right"></i>İstifadəçilər</a></li>
                        <li><a href="/Category/Index"><i class="zmdi zmdi-long-arrow-right"></i>Kataqoryalar</a></li>
                        <li><a href="/Customer/Index"><i class="zmdi zmdi-long-arrow-right"></i>Müştərilər</a></li>
                        <li><a href="/GoodsInfo/Index"><i class="zmdi zmdi-long-arrow-right"></i>Məhsullar</a></li>
                        <li><a href="/Expense/Index"><i class="zmdi zmdi-long-arrow-right"></i>Xərclər</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javaScript:void();" class="waves-effect">
                        <i class="zmdi zmdi-view-dashboard"></i> <span>Sifarişlər</span><i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="sidebar-submenu">
                        <li><a href="/Order/Index"><i class="zmdi zmdi-long-arrow-right"></i>Yeni sifarişlər</a></li>
                        <li><a href="/Order/TesdiqIndex"><i class="zmdi zmdi-long-arrow-right"></i>Təsdiqlənən sifarişlər</a></li>
                        <li><a href="/Order/SaleOrderIndex"><i class="zmdi zmdi-long-arrow-right"></i>Satılmış sifarişlər</a></li>
                        <li><a href="/Order/RemoveIndex"><i class="zmdi zmdi-long-arrow-right"></i>Silinmiş sifarişlər</a></li>
                    </ul>
                </li>
                </ul>


</div>
        <!--End sidebar-wrapper-->
        <!--Start topbar header-->
        <header class="topbar-nav">
            <nav class="navbar navbar-expand fixed-top">
                <ul class="navbar-nav mr-auto align-items-center">
                    <li class="nav-item">
                        <a class="nav-link toggle-menu" href="javascript:void();">
                            <i class="icon-menu menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <form class="search-bar">
                            <input type="text" class="form-control" placeholder="Axtar">
                            <a href="javascript:void();"><i class="icon-magnifier"></i></a>
                        </form>
                    </li>
                </ul>

                <ul class="navbar-nav align-items-center right-nav-link">
                    <li class="nav-item dropdown-lg">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();">
                            <i class="fa fa-envelope-open-o"></i><span class="badge badge-light badge-up">12</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    You have 12 new messages
                                    <span class="badge badge-light">12</span>
                                </li>
                                <li class="list-group-item">
                                    <a href="javaScript:void();">
                                        <div class="media">
                                            <div class="avatar"><img class="align-self-start mr-3" src="~/Webx/assets/images/avatars/avatar-5.png" alt="user avatar"></div>
                                            <div class="media-body">
                                                <h6 class="mt-0 msg-title">Jhon Deo</h6>
                                                <p class="msg-info">Lorem ipsum dolor sit amet...</p>
                                                <small>Today, 4:10 PM</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="javaScript:void();">
                                        <div class="media">
                                            <div class="avatar"><img class="align-self-start mr-3" src="~/Webx/assets/images/avatars/avatar-6.png" alt="user avatar"></div>
                                            <div class="media-body">
                                                <h6 class="mt-0 msg-title">Sara Jen</h6>
                                                <p class="msg-info">Lorem ipsum dolor sit amet...</p>
                                                <small>Yesterday, 8:30 AM</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="javaScript:void();">
                                        <div class="media">
                                            <div class="avatar"><img class="align-self-start mr-3" src="~/Webx/assets/images/avatars/avatar-7.png" alt="user avatar"></div>
                                            <div class="media-body">
                                                <h6 class="mt-0 msg-title">Dannish Josh</h6>
                                                <p class="msg-info">Lorem ipsum dolor sit amet...</p>
                                                <small>5/11/2018, 2:50 PM</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="javaScript:void();">
                                        <div class="media">
                                            <div class="avatar"><img class="align-self-start mr-3" src="~/Webx/assets/images/avatars/avatar-8.png" alt="user avatar"></div>
                                            <div class="media-body">
                                                <h6 class="mt-0 msg-title">Katrina Mccoy</h6>
                                                <p class="msg-info">Lorem ipsum dolor sit amet.</p>
                                                <small>1/11/2018, 2:50 PM</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-group-item text-center"><a href="javaScript:void();">See All Messages</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item dropdown-lg">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();">
                            <i class="fa fa-bell-o"></i><span class="badge badge-info badge-up">14</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    You have 14 Notifications
                                    <span class="badge badge-info">14</span>
                                </li>
                                <li class="list-group-item">
                                    <a href="javaScript:void();">
                                        <div class="media">
                                            <i class="zmdi zmdi-accounts fa-2x mr-3 text-info"></i>
                                            <div class="media-body">
                                                <h6 class="mt-0 msg-title">New Registered Users</h6>
                                                <p class="msg-info">Lorem ipsum dolor sit amet...</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="javaScript:void();">
                                        <div class="media">
                                            <i class="zmdi zmdi-coffee fa-2x mr-3 text-warning"></i>
                                            <div class="media-body">
                                                <h6 class="mt-0 msg-title">New Received Orders</h6>
                                                <p class="msg-info">Lorem ipsum dolor sit amet...</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="javaScript:void();">
                                        <div class="media">
                                            <i class="zmdi zmdi-notifications-active fa-2x mr-3 text-danger"></i>
                                            <div class="media-body">
                                                <h6 class="mt-0 msg-title">New Updates</h6>
                                                <p class="msg-info">Lorem ipsum dolor sit amet...</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-group-item text-center"><a href="javaScript:void();">See All Notifications</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item language">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();"><i class="fa fa-flag"></i></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="dropdown-item"> <i class="flag-icon flag-icon-gb mr-2"></i> English</li>
                            <li class="dropdown-item"> <i class="flag-icon flag-icon-fr mr-2"></i> French</li>
                            <li class="dropdown-item"> <i class="flag-icon flag-icon-cn mr-2"></i> Chinese</li>
                            <li class="dropdown-item"> <i class="flag-icon flag-icon-de mr-2"></i> German</li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
                            <span class="user-profile"><img src="~/Webx/assets/images/avatars/avatar-13.png" class="img-circle" alt="user avatar"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="dropdown-item user-details">
                                <a href="javaScript:void();">
                                    <div class="media">
                                        <div class="avatar"><img class="align-self-start mr-3" src="~/Webx/assets/images/avatars/avatar-13.png" alt="user avatar"></div>
                                        <div class="media-body">
                                            <h6 class="mt-2 user-title">@gunel</h6>
                                            <p class="user-subtitle">@Session["Email"]</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item"><i class="icon-envelope mr-2"></i>Məktublar</li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item"><a href="/Login/LogOut"><i class="icon-power"></i>Çıxış</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <!--End topbar header-->

        <div class="clearfix"></div>

        <div class="content-wrapper">
            <div class="container-fluid">

                <!--Start Dashboard Content-->



                <div class="row">
                    <div class="col-12 col-lg-12">
                        <div class="card">

                            <!--Bura baxacam-->
                            @RenderBody()

                        </div>
                    </div>
                </div><!--End Row-->
                <!--End Dashboard Content-->

            </div>
            <!-- End container-fluid-->

        </div><!--End content-wrapper-->
        <!--Start Back To Top Button-->
        <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
        <!--End Back To Top Button-->
        <!--Start footer-->
        <footer class="footer">
            <div class="container">
                <div class="text-center">
                    Hazırlandı © 2020 Sabir&Elnur
                </div>
            </div>
        </footer>
        <!--End footer-->
        <!--start color switcher-->
        <div class="right-sidebar">
            <div class="switcher-icon">
                <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
            </div>
            <div class="right-sidebar-content">

                <p class="mb-0">Gaussion Texture</p>
                <hr>

                <ul class="switcher">
                    <li id="theme1"></li>
                    <li id="theme2"></li>
                    <li id="theme3"></li>
                    <li id="theme4"></li>
                    <li id="theme5"></li>
                    <li id="theme6"></li>
                </ul>

                <p class="mb-0">Gradient Background</p>
                <hr>

                <ul class="switcher">
                    <li id="theme7"></li>
                    <li id="theme8"></li>
                    <li id="theme9"></li>
                    <li id="theme10"></li>
                    <li id="theme11"></li>
                    <li id="theme12"></li>
                </ul>

            </div>
        </div>
        <!--end color cwitcher-->

    </div><!--End wrapper-->
    <!-- Bootstrap core JavaScript-->
    <script src="~/Webx/assets/js/jquery.min.js"></script>
    @*<script src="~/Webx/assets/js/popper.min.js"></script>
    <script src="~/Webx/assets/js/bootstrap.min.js"></script>*@

    <!-- simplebar js -->
    <script src="~/Webx/assets/plugins/simplebar/js/simplebar.js"></script>
    <!-- sidebar-menu js -->
    <script src="~/Webx/assets/js/sidebar-menu.js"></script>
    <!-- loader scripts -->
    <script src="~/Webx/assets/js/jquery.loading-indicator.html"></script>
    <!-- Custom scripts -->
    <script src="~/Webx/assets/js/app-script.js"></script>
    <!-- Chart js -->

    <script src="~/Webx/assets/plugins/simplebar/js/simplebar.js"></script>
    <!-- sidebar-menu js -->


    <!-- Custom scripts -->



    <script src="~/Webx/assets/plugins/Chart.js/Chart.min.js"></script>
    <!-- Vector map JavaScript -->
    <script src="~/Webx/assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="~/Webx/assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- Easy Pie Chart JS -->
    <script src="~/Webx/assets/plugins/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
    <!-- Sparkline JS -->
    <script src="~/Webx/assets/plugins/sparkline-charts/jquery.sparkline.min.js"></script>
    <script src="~/Webx/assets/plugins/jquery-knob/excanvas.js"></script>
    <script src="~/Webx/assets/plugins/jquery-knob/jquery.knob.js"></script>



    <!--Sweet Alerts -->
    <script src="~/Webx/assets/plugins/alerts-boxes/js/sweetalert.min.js"></script>
    <script src="~/Webx/assets/plugins/alerts-boxes/js/sweet-alert-script.js"></script>


    <script src="~/Webx/assets/plugins/bootstrap-datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/Webx/assets/plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Webx/assets/plugins/bootstrap-datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/Webx/assets/plugins/bootstrap-datatable/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Webx/assets/plugins/bootstrap-datatable/js/jszip.min.js"></script>
    <script src="~/Webx/assets/plugins/bootstrap-datatable/js/pdfmake.min.js"></script>
    <script src="~/Webx/assets/plugins/bootstrap-datatable/js/vfs_fonts.js"></script>
    <script src="~/Webx/assets/plugins/bootstrap-datatable/js/buttons.html5.min.js"></script>
    <script src="~/Webx/assets/plugins/bootstrap-datatable/js/buttons.print.min.js"></script>
    <script src="~/Webx/assets/plugins/bootstrap-datatable/js/buttons.colVis.min.js"></script>

    <script>




        $(function () {
            $(".knob").knob();
        });

        $("#confirm-btn-alert").click(function () {

            swal({
                title: "eminsinizmi",
                text: "Once deleted, you will not be able to recover this imaginary file!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        swal("Poof! Your imaginary file has been deleted!", {
                            icon: "success",
                        });
                    } else {
                        swal("Your imaginary file is safe!");
                    }
                });

        });

                             
    </script>
    <!-- Index js -->




    <script src="~/Webx/assets/js/index.js"></script>


</body>

<!-- Mirrored from codervent.com/dashtreme/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 28 Aug 2019 05:06:45 GMT -->
</html>
