@model KidsWorld.Models.Class.GoodsInfo
@{
    ViewBag.Title = "FindGoogsInfo";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>FindGoogsInfo</h2>
<br />
@using (Html.BeginForm("EditGoodsInfo", "GoodsInfo", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Ad")
    <br />
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "ad soyad ata" })
    <br />
    @Html.Label("Melumat")
    <br />
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    @Html.Label("Olcu")
    <br />
    @Html.TextBoxFor(x => x.Size, new { @class = "form-control" })
    <br />
    @Html.Label("Reng")
    <br />
    @Html.TextBoxFor(x => x.Color, new { @class = "form-control" })
    <br />
    @Html.Label("Say")
    <br />
    @Html.TextBoxFor(x => x.Count, new { @class = "form-control" })
    <br />
    @Html.Label("Alis qiymeti")
    <br />
    @Html.TextBoxFor(x => x.PurchasePrice, new { @class = "form-control" })
    <br />
    @Html.Label("Satis qiymeti")
    <br />
    @Html.TextBoxFor(x => x.SalePrice, new { @class = "form-control" })
    <br />
    @Html.Label("Barkod")
    <br />
    @Html.TextBoxFor(x => x.Barcode, new { @class = "form-control" })
    <br />
    @Html.Label("Qeydiyata alan")
        <br />
        @Html.DropDownListFor(x => x.UserId, (List<SelectListItem>)ViewBag.dgr3,
                                   new { @class = "form-control" })
        <br />
        @Html.Label("Kateqoriya")
        <br />
        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.dgr4,
                                   new { @class = "form-control" })
    <br />
    @Html.HiddenFor(x=>x.GoodsInfoId)
    <br />
    @Html.HiddenFor(x => x.Status)
    <br />
    @Html.HiddenFor(x => x.GoodsPhoto)

    <button class="btn btn-warning">Redakte et</button>

</div>
}
