@model IEnumerable<KidsWorld.Models.Class.Order>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header"><h4>Sifarişlər</h4></div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>FakturaId</th>
                                <th>Tarix</th>
                                <th>Sifariş tarixi</th>
                                <th>Say</th>
                                <th>Satış qiyməti</th>
                                <th>Toplam məbləğ</th>
                                <th>Şəhər</th>
                                <th>Poçt indeksi</th>
                                <th>Mobil</th>
                                <th>Ünvan</th>
                                <th>Email</th>
                                <th>Barkod</th>
                                <th>Sil</th>
                                <th>Redaktə et</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var k in Model)
                            {
                                <tr>
                                    <td>@k.OrderId</td>
                                    <td>@k.FakturaId</td>
                                    <td>@k.RecordDate</td>
                                    <td>@k.OrderDate</td>
                                    <td>@k.Count</td>
                                    <td>@k.SalePrice</td>
                                    <td>@k.TotalPrice</td>
                                    <td>@k.City </td>
                                    <td>@k.ZipCode</td>
                                    <td>@k.Phone</td>
                                    <td>@k.Adress</td>
                                    <td>@k.Email</td>
                                    <td>@k.Barcode</td>
                                    <td><a href="/Order/DeleteOrder/@k.OrderId" class="btn btn-success">Sil</a></td>
                                    <td><a href="/Order/FindOrder/@k.OrderId" class="btn btn-success">Redaktə et</a></td>
                                </tr>
                            }
                            </tfoot>
                    </table>
                    <br />

                    <a href="/Order/AddOrder/" class="btn btn-primary">Sifariş əlavə et</a>
                </div>
            </div>
        </div>
    </div>
</div><!-- End Row-->
