@model KidsWorld.Models.Class.Customer
@{
    ViewBag.Title = "FindCustomer";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

    <h2>Müştəri redaktə</h2>
<br />
@using (Html.BeginForm("EditCustomer", "Customer", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Ad")
    <br />
    @Html.TextBoxFor(x => x.FullName, new { @class = "form-control", @placeholder = "Ad soyad ata" })
    <br />
    @Html.Label("Seher")
    <br />
    @Html.TextBoxFor(x => x.City, new { @class = "form-control" })
    <br />
    @Html.Label("Poct Indeksi")
    <br />
    @Html.TextBoxFor(x => x.ZipCode, new { @class = "form-control" })
    <br />
    @Html.Label("Mobil")
    <br />
    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
    <br />
    @Html.Label("Unvan")
    <br />
    @Html.TextBoxFor(x => x.Adress, new { @class = "form-control" })
    <br />
    @Html.Label("Email")
    <br />
    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    <br />
    @Html.Label("Parol")
    <br />
    @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
    <br />
    @Html.HiddenFor(x => x.CustomerId)


    <button class="btn btn-warning">Redaktə et</button>

</div>
}
